/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
  width: 100%;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 15px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}


main img {
  max-width: 100%;
}


/* ---  Groups & Items --- */
.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  display: flex;
  flex-direction: column;
  background-color: #83092e;
  text-align: center;
  width: 100%;
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 72px;
  color: #ecdbc9;
}

header nav ul li {
  list-style-type: none;
}

header nav ul {
  display: flex;
  justify-content: center;
}
header nav ul li a {
  color: #ecdbc9;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}
/* -------  Join Form ------- */
form {
  border: 2px solid #6b1a22;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

form div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #83092e;
  width: 100%;
  height: auto;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
  html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
  
  header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    width: 100%;
  }

  #join img {
    width: 50%;
    height: auto;
  }

  .join-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .about-items {
    display: flex;
    align-items: center;
    align-self: center;
  }

  #about img {
    width: 30%;
    height: auto;
  }
  .container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  
  h2 {
    text-align: center;
  }

  #download img {
    width: 50%;
    height: auto;
  }

  .down-items {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .down-item-p{
    display: flex;
    flex-direction: column;
  }

  form {
    display: flex;
  }
}